.root {
  position: relative;
}

.body {

  --sizeW: 1px; //default value
  --sizeH: 1px;
  --sizePadding: 4px;
  --X: 0;
  --Y: 0;


  margin: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  //transform: translateY(-20px);
  transform: translateY(var(--Y)) translateX(var(--X));
  transition: opacity 0.4s, transform 0.4s, visibility 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.top {
    --Y: calc(var(--sizeH) / -1 - 100% - var(--sizePadding));
  }

  &.bottom {
    --Y: var(--sizePadding);
  }

  &.left {
    left: 0;
    --X: calc(-100% - var(--sizePadding));
  }

  &.right {
    right: 0;
    --X: calc(100% + var(--sizePadding));
  }

  &.start {
    left: 0;
  }

  &.end {

    right: 0;
  }
}

