.root {
  position: relative;
}

.body {

  --sizeW: 1px; //default value
  --sizeH: 1px;
  --sizePadding: 4px;

  margin: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s, transform 0.4s, visibility 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.top {
    top: 0;
    left: 50%;
    transform: translateY(calc(var(--sizeH) / -1 - 100% - var(--sizePadding))) translateX(-50%);
    //transform: translateX(var(--x)) translateY(var(--y));
  }

  &.bottom {
    top: 0;
    left: 50%;
    transform: translateY(var(--sizePadding)) translateX(-50%);
  }

  &.left {
    left: 0;
    transform: translateY(calc(var(--sizeH) / -2 - 50%)) translateX(calc(-100% - var(--sizePadding)));
  }

  &.right {
    right: 0;
    transform: translateY(calc(var(--sizeH) / -2 - 50%)) translateX(calc(100% + var(--sizePadding)));
  }


  &.leftEnd {
    left: 0;
    transform: translateY(-100%) translateX(calc(-100% - var(--sizePadding)));
  }

  &.bottomEnd {
    right: 0;
    transform: translateY(var(--sizePadding));
  }

  &.rightEnd {
    right: 0;
    transform: translateY(-100%) translateX(calc(100% + var(--sizePadding)));
  }

  &.topEnd {
    right: 0;
    transform: translateY(calc(var(--sizeH) / -1 - 100% - var(--sizePadding)));
  }

  &.topStart {
    top: 0;
    transform: translateY(calc(var(--sizeH) / -1 - 100% - var(--sizePadding)));
  }

  &.bottomStart {
    top: 0;
    transform: translateY(var(--sizePadding));
  }

  &.leftStart {
    transform: translateY(calc(var(--sizeH) / -1)) translateX(calc(-100% - var(--sizePadding)));
  }

  &.rightStart {
    right: 0;
    transform: translateY(calc(var(--sizeH) / -1)) translateX(calc(100% + var(--sizePadding)));
  }
}
