.large {
  height: 70px;
  width: 70px;
  min-width: 70px;
  font-size: 35px;
}

.small {
  height: 30px;
  width: 30px;
  min-width: 30px;
  font-size: 15px;
}

.medium {
  height: 50px;
  width: 50px;
  min-width: 50px;
  font-size: 25px
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 20%;
}

.default {
  display: flex;
  justify-content: center;
  background-color: gray; //TODO: исправить в задаче темы
  color: white; //TODO: исправить в задаче темы
}

.hidden {
  display: none ;
}

.animated {
  background: radial-gradient(#a88fc2 25%,  #fe7bad 75%); //TODO: исправить в задаче темы(скорее всего добавить в отдельную переменную)
  background-size: 100% 100%;
  animation: gradient 3s ease infinite;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px
}

@keyframes gradient {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 100% 100%;
  }

}

