@import "../styles/color.scss";

.root {
  object-fit: cover;
  height: var(--avatar-size);
  width: var(--avatar-size);
  min-width: var(--avatar-size);
}


.large {
  --avatar-size: 70px;
  font-size: 35px;
}

.small {
  --avatar-size: 30px;
  font-size: 15px;
}

.medium {
  --avatar-size: 50px;
  font-size: 25px;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 20%;
}

.default {
  display: flex;
  justify-content: center;
  background-color: $avatar-bg-default;
  color: $avatar-color-default;
}

.animated {
  background: $avatar-gradient-animated;
  background-size: 100% 100%;
  animation: gradient 3s ease infinite;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes gradient {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 100% 100%;
  }
}

