.root {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .info_row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .message,
    .name {
      padding-right: .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .message {
      color: #C9C8D3; //TODO: скорее всего, тут цвет взять из глобальных стилей
    }

    .countUnreadMessage {
      padding: 0 0.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: .9rem;
      border-radius: 0.75rem;
      font-weight: bold;
      background-color: #8A8894;
      color: white;
    }

    .time {
      font-size: 0.8rem;
    }
  }

  p, h3 {
    margin: 0;
    padding: 0;
  }
}

