@use '../styles/typography' as typ;

.button {
    --icon-bg-color: rgba(255, 255, 255, 0.3);
    --icon-color: #ffffff;
    --label-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: transparent;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    .iconWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--icon-bg-color);
        border-radius: 50%;
        color: var(--icon-color);

        width: var(--icon-size);
        height: var(--icon-size);

        .icon {
            font-size: var(--icon-font-size);
        }

        &.small {
            --icon-size: 40px;
            --icon-font-size: 22px

        }
    
        &.medium {
            --icon-size: 48px;
            --icon-font-size: 26px
        }
    
        &.large {
            --icon-size: 56px;
            --icon-font-size: 30px
        }
    }

    .label {
        font-family: typ.$font-family-primary;
        margin-top: 4px;
        font-size: typ.$font-size-button-small;
        color: var(--label-color);
    }
    
}
