@use "../styles/textViewer" as textViewer;
@use "../styles/typography" as typography;

%content {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: typography.$font-size-text-title;
}

.block {
  display: flex;
  flex-direction: column;
}

.content {
  word-wrap: break-word;
  max-width: 60%;
  border-radius: 16px;
  padding: 10px 20px;

  &.secondary {
    background-color: textViewer.$textViewer-secondary-color;
  }

  &.primary {
    background-color: textViewer.$textViewer-primary-color;
  }
}

.subText {
  @extend %content;

  text-align: end;
  color: textViewer.$textViewer-text-color;
}

.title {
  @extend %content;

  align-self: flex-start;
}

.text {
  margin: 0;
}
