@use "../styles/color.scss" as colors;
@use "../styles/typography" as typography;

.message {
  display: flex;
  max-width: 500px; //TODO: адаптивность
  margin-bottom: 15px;

  &content {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 60%;
    border-radius: 16px;
    padding: 10px 20px;

    &.sender {
      margin: 0 auto 0 0;
      background-color: colors.$msg-outgoing-color;
    }

    &.recipient {
      margin: 0 0 0 auto;
      background-color: colors.$msg-incoming-color;
    }
  }

  &text {
    margin: 0;
  }

  &timestamp {
    align-self: flex-end;
    font-size: 12px;  //TODO: уточнить
    color: colors.$neutral-darken-gray-color;
  }
}

.senderName {
  align-self: flex-start;
  font-size: 18px;  //TODO: уточнить
}

