.root {
  border-radius: 4px;
  width: 100%;
  padding: 5px 8px;
  box-sizing: border-box;
  font-size: 14px;

  &:hover {
    cursor: pointer;
    background-color: #5d5d5d;
  }

}

.block {
  display: flex;
  gap: 4px;
  align-content: center;
}

.disabled {
  background-color: #5d5d5d;
}


