.fish {
  --default-fish-size: 10px;
  --big-fish-size: 60px;

  background-color: var(--main-fish-color);
  width: var(--default-fish-size);
  height: var(--default-fish-size);
  position: relative;
  border-radius: 10px;
  animation: fish 10s linear infinite;


  &::before,
  &::after {
    content: '';
    background-color: var(--second-fish-color);
    border-radius: 10px;
    position: absolute;
    height: var(--default-fish-size);
  }

  &::before {
    width: var(--big-fish-size);
    transform: translateX(-100%);
    left: -50%;
  }

  &::after {
    right: -50%;
    transform: translateX(100%);
    width: 10px;
    animation: right-fish 1s linear infinite;
  }
}

@keyframes fish {
  0% {
    left: 0;
    top: 0;
  }

  12.5% {
    transform: rotate(-30deg);
  }

  25% {
    left: -35%;
    top: 20%;
    transform: rotate(-140deg);
  }

  37.5% {
    left: -20%;
    top: 25%;
  }

  50% {
    top: 20%;
    left: 0;
    transform: rotate(-180deg);
  }

  62.5% {
    top: 20%;
    transform: rotate(-235deg);
  }

  75% {
    left: 40%;
    transform: rotate(-320deg);
  }

  87.5% {
    left: 20%;
    top: -5%;
    transform: rotate(-360deg)
  }

  100% {
    left: 0;
    top: 0;
    transform: rotate(-360deg);
  }
}

@keyframes right-fish {
  0% {
    transform: translateX(100%) translateY(0)
  }

  33% {
    transform: translateX(100%) translateY(100%);
  }

  66% {
    transform: translateX(100%) translateY(-100%);
  }

  100% {
    transform: translateX(100%) translateY(0);
  }
}
