@use "ui-kit/styles/index";

@use 'ui-kit/styles/color' as col;

.column {
  @extend .grad;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.row {
  @extend .grad;
  display: flex;
  margin-top: 20px;
  gap: 20px;

}

.layout {
  width: 400px;
}

.grad {
  background: col.$primary-gradient-color;
}

.inputs {
  @extend .layout;

  &>:nth-child(n) {
    margin: 10px;
  }
}
