.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 340px;

  .label {
    position: absolute;
    top: -5px;
    left: 14px;
    padding: 0 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #666;
    z-index: 1;

    &::before {
      position: relative;
      display: block;
      width: 100%;
      content: '';
      background-color: #ffffff;
      height: 1px;
      top: 5px;
      z-index: -1;
    }
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    &.outlined {
      background: transparent;
      border: 1px solid #ccc;
    }

    &.filled {
      background: #f7f7f7;
      border-radius: 5px;
      border: none;
    }
  }

  .input {
    width: 100%;
    height: 36px;
    background: #fff;
    border-radius: 10px;
    padding: 8px 14px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    border: 1px solid #dedede;

    &:focus {
      outline: none;
    }

    &:disabled {
      background: #e0e0e0;
      cursor: not-allowed;
    }

    &::placeholder {
      color: #999;
      font-size: 12px;
      line-height: 14px;
    }

   

    &.error {
      background-color: #ffd8d8;
    }

    /*&.hasIconLeft {
      padding-left: 36px;
    }

    &.hasIconRight {
      padding-right: 36px;
    }
      */
  }

  .icon {
    //position: absolute;
    font-size: 18px;

    &.left {
      //left: 10px;
    }

    &.right {
      //right: 10px;
    }
  }
}
