@use 'ui-kit/styles/button' as button;
@use 'ui-kit/styles/typography' as typography;

.root {
  --font-size: #{typography.$font-size-icon-medium};

  height: var(--icon-size);
  width: var(--icon-size);
  font-size: var(--font-size);
  display: inline-flex;
  justify-content: center;
  margin: 0 5px;
  box-sizing: border-box;
  border-radius: 10px;

  &:hover, {
    background-color: button.$btn-bg-third;
    border: 1px solid button.$btn-hover-border-color;
    cursor: pointer;
  }

  &:focus {
    background-color: button.$btn-bg-third;
    border: 1px solid button.$btn-focus-border-color;
  }

  &.disabled {
    background-color: button.$btn-disable-bg-color;
    opacity: 0.5;
    cursor: not-allowed;
    border: none;
  }
}

.large {
  --icon-size: #{button.$btn-size-large};
}

.medium {
  --icon-size: #{button.$btn-size-medium};
}

.small {
  --icon-size: #{button.$btn-size-small};
}

.extraSmall {
  --icon-size: #{button.$btn-size-extra-small};
  --font-size: #{typography.$font-size-icon-small};
}
