@import "../styles/typography.scss";
@import "../styles/color.scss";

%text {
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    background-color: $neutral-light-color;
  }
}

.info {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &Row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title,
    .description {
      @extend %text;

      padding-right: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      @include headline-5();
    }

    .description {
      color: $neutral-light-gray-color;
    }

    .badge {
      margin: 0;
      padding: 0 8px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      border-radius: 12px;
      font-weight: bold;
      background-color: $neutral-dark-gray-color;
      color: $neutral-white-color;
    }
  }
}
