@use 'ui-kit/styles/color' as colors;

.cardList {
  overflow-y: auto;
  max-height: calc(100vh - 180px);
  margin: 10px 0;

  & div:hover {
    background-color: colors.$neutral-light-color;
    cursor: pointer;
  }
}
