@use "../styles/typography.scss" as typography;
@use "../styles/color.scss" as colors;

%text {
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}

.info {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px;

  &Row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title,
    .description {
      @extend %text;

      padding-right: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      @include typography.headline-5();
    }

    .description {
      color: colors.$card-description-color;
    }

    .badge {
      margin: 0;
      padding: 0 8px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      border-radius: 12px;
      font-weight: bold;
      background-color: colors.$card-bg-badge;
      color: colors.$card-color;
    }
  }
}
