@import "../styles/color.scss";

.button {
  display: inline-block;
  padding: 12px 50px;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.primary {
  background-color: $btn-primary-dg-default;
  color: $btn-primary-color-default;

  &:hover {
    background-color: $btn-primary-bg-hover-default;
  }
}

.secondary {
  background-color: $btn-secondary-dg-default;
  color: $btn-secondary-color-default;
  border: 2px solid $neutral-dark-color;

  &:hover {
    background-color: $btn-secondary-bg-hover-default;
  }
}
