@import "../styles/color.scss";

.button {
  display: inline-block;
  padding: 12px 50px;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.primary {
  background-color: $btn-bg-primary;
  color: $btn-color-primary;

  &:hover {
    background-color: $btn-bg-hover-primary;
  }
}

.secondary {
  background-color: $btn-bg-secondary;
  color: $btn-color-secondary;
  border: 2px solid $neutral-dark-color;

  &:hover {
    background-color: $btn-bg-hover-secondary;
  }
}
