@use "../styles/button.scss" as button;
@use "../styles/typography.scss" as typography;
@use "../styles/color.scss" as color;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  font-size: typography.$font-size-button-medium;
  padding: 0 50px;
  min-width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.primary {
  background-color: button.$btn-bg-primary;
  color: button.$btn-color-primary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: button.$btn-bg-hover-primary;
  }
}

.secondary {
  background-color: button.$btn-bg-secondary;
  color: button.$btn-color-secondary;
  border: 2px solid color.$neutral-dark-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: button.$btn-bg-hover-secondary;
  }
}

.large {
  padding: 0 55px;
  min-width: 250px;
  font-size: typography.$font-size-button-large;
}

.small {
  padding: 0 45px;
  min-width: 150px;
  font-size: typography.$font-size-button-small;
}

.fullWidth {
  width: 100%;
  display: block;
}
