@use 'ui-kit/styles/color' as colors;

.root{
  padding: 12px 8px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;

  &:hover{
    background-color: rgba(colors.$neutral-silvery-color, 0.6);
  }
}

.active{
  background-color: rgba(colors.$neutral-white-color, 0.5);
  box-shadow: 0 1px 8px rgba(colors.$neutral-dark-color, 0.4);
}


