.button {
  display: inline-block;
  padding: 12px 50px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: none;
}

.button_primary {
  background-color: #000; //TODO: исправить в задаче темы
  color: #fff;  //TODO: исправить в задаче темы
}

.button_primary:hover {
  background-color: #222; //TODO: исправить в задаче темы
}

.button_secondary {
  background-color: #fff; //TODO: исправить в задаче темы
  color: #333;  //TODO: исправить в задаче темы
  border: 2px solid #000; //TODO: исправить в задаче темы
}

.button_secondary:hover {
  background-color: #f5f5f5;  //TODO: исправить в задаче темы
}