@use '../styles/color.scss' as color;
@use '../styles/notice.scss' as notice;

.container {
  display: flex;
  align-items: center;
  font-size: notice.$notice-text-default-size;
  padding: 10px;
  border-radius: 5px;
  color: color.$neutral-dark-color;
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  gap: 8px;

  &.error {
    --text-color: #{notice.$notice-error-color};
    --bg-color: #{notice.$notice-error-bg};
    --border-color: #{notice.$notice-error-color};
  }

  &.success {
    --text-color: #{notice.$notice-success-color};
    --bg-color: #{notice.$notice-success-bg};
    --border-color: #{notice.$notice-success-color};
  }

  &.info {
    --text-color: #{notice.$notice-info-color};
    --bg-color: #{notice.$notice-info-bg};
    --border-color: #{notice.$notice-info-color};
  }

  &.warning {
    --text-color: #{notice.$notice-warning-color};
    --bg-color: #{notice.$notice-warning-bg};
    --border-color: #{notice.$notice-warning-color};
  }

  &.filled {
    background-color: var(--bg-color, transparent);
    --message-color: #{color.$neutral-dark-color};
  }

  &.border {
    border: 1px solid var(--border-color, transparent);
  }
}

.icon {
  font-size: notice.$notice-icon-size;
  color: var(--text-color);
}

.message {
  font-size: notice.$notice-text-default-size;
  color: var(--message-color, var(--text-color));
}
