@use '../styles/color.scss' as color;
@use '../styles/notice.scss' as notice;

  .error {
    color: notice.$notice-error-color;
  }
  .success {
    color: notice.$notice-success-color;
  }
  .info {
    color: notice.$notice-info-color;
  }
  .warning {
    color: notice.$notice-warning-color;
  }

.container {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  color: color.$neutral-dark-color;
  max-width: 100%;
  word-break: break-all;
  overflow-wrap: break-word;
}

.default {
  .message {
    font-size: 14px;
  }

  .icon {
    font-size: 18px;
    margin-right: 8px; 
  }
}

.filled {
  background-color: transparent;
  
  &:not(.icon){
    color: color.$neutral-dark-color;
  }
  &.error {
    background-color: notice.$notice-error-bg;
  }

  &.success {
    background-color: notice.$notice-success-bg;
  }

  &.info {
    background-color: notice.$notice-info-bg;
  }

  &.warning {
    background-color: notice.$notice-warning-bg;
  }

  .icon {
    margin-right: 8px;
  }

  .message {
    color: color.$neutral-dark-color;
  }

  &.border {
    border: 1px solid;

    &.error {
      border-color: notice.$notice-error-color;
    }

    &.success {
      border-color: notice.$notice-success-color;
    }

    &.info {
      border-color: notice.$notice-info-color;
    }

    &.warning {
      border-color: notice.$notice-warning-color;
    }
  }

  .icon,
  .message {
    border: none;
  }
}