@use '../styles/color.scss' as clr;
@mixin icon-colors {
  &.error {
    color: clr.$notice-color-error;
  }
  &.success {
    color: clr.$notice-color-success;
  }
  &.info {
    color: clr.$notice-color-info;
  }
  &.warning {
    color: clr.$notice-color-warning;
  }
}

.container {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  color: clr.$neutral-dark-color;
  max-width: 100%;
  word-break: break-all;
  overflow-wrap: break-word;
}

.message {
  font-size: 14px;
  @include icon-colors;
}

.icon {
  font-size: 18px;
  margin-right: 8px;
  @include icon-colors; 
}
