.root {
  --padding-vertical: 12px;
  --padding-horizontal: 10px;

  display: grid;
  grid-template-columns: 0.2fr minmax(300px, 1fr) 3fr;
  height: calc(100vh - var(--padding-vertical) * 2);
  padding: var(--padding-vertical) var(--padding-horizontal);
  gap: var(--padding-horizontal);
  overflow: hidden;
}

.navbar {
  padding: 8px;
}
