.root {
  --padding-vertical: 12px;
  --padding-horizontal: 10px;

  display: grid;
  grid-template-columns: 0.2fr minmax(300px, 1fr) 3fr;
  height: calc(100vh - var(--padding-vertical) * 2);
  padding: var(--padding-vertical) var(--padding-horizontal);
  gap: var(--padding-horizontal);
  overflow: hidden;

  &:nth-child(2) {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
  }
}

//.main {
//  height: inherit;
//  display: flex;
//  flex-direction: column;
//  gap: 10px;
//  box-sizing: border-box;
//}

.navbar {
  padding: 8px;
}
