@import "../styles/color.scss";
$btn-bg-primary: $neutral-dark-color;
$btn-bg-hover-primary: $neutral-dark-gray-color;
$btn-color-primary: $neutral-white-color;
$btn-bg-secondary: $neutral-white-color;
$btn-bg-hover-secondary: $neutral-light-color;
$btn-color-secondary: $neutral-dark-color;

$circle-button-bg-color: rgba(255, 255, 255, 0.3);
$circle-button-icon-color: #ffffff;
$circle-button-label-color: #ffffff;

$circle-button-s-size: 40px;
$circle-button-m-size: 48px;
$circle-button-l-size: 56px;
