$primary-gradient-color: linear-gradient(to bottom, $brand-secondary-color, $brand-tertiary-color, $brand-primary-color);

$brand-primary-color: #2e90fa;
$brand-secondary-color: #fe7bad;
$brand-tertiary-color: #a88fc2;

$neutral-white-color: #ffffff;
$neutral-light-color: #efefef;
$neutral-light-gray-color: #adadad;
$neutral-darken-gray-color: #5d5d5d;
$neutral-dark-gray-color: #333333;
$neutral-dark-color: #000000;

$container-color: $neutral-white-color;
$input-msg-color: $neutral-light-color;
$viewer-obtained-color: #d9d9d9;
$viewer-sent-color: #43a5dc;
