$primary-gradient-color: linear-gradient(to bottom, #fe7bad, #a88fc2, #2e90fa);

$brand-primary-color: #2e90fa;
$brand-secondary-color: #fe7bad;
$brand-tertiary-color: #a88fc2;

$neutral-white-color: #ffffff;
$neutral-light-color: #efefef;
$neutral-light-gray-color: #adadad;
$neutral-darken-gray-color: #5d5d5d;
$neutral-dark-gray-color: #333333;
$neutral-dark-color: #000000;

$state-error-color: #ff0000;
$state-success-color: #008000;
$state-info-color: #2e7afb;
$state-warning-color: #ffa500;
$state-error-bg: #fff2f1;
$state-success-bg: #f6ffee;
$state-info-bg: #e6f4ff;
$state-warning-bg: #fffbe8;

$input-msg-color: $neutral-light-color;

$msg-incoming-color: #d9d9d9;
$msg-outgoing-color: #43a5dc;

//avatar
$avatar-bg-default: $neutral-light-gray-color;
$avatar-color-default: $neutral-white-color;
$avatar-gradient-animated: radial-gradient(#a88fc2 25%,  #fe7bad 75%);

//button
$btn-bg-primary: $neutral-dark-color;
$btn-bg-hover-primary: $neutral-dark-gray-color;
$btn-color-primary: $neutral-white-color;

$btn-bg-secondary: $neutral-white-color;
$btn-bg-hover-secondary: $neutral-light-color;
$btn-color-secondary: $neutral-dark-color;

//item
$card-description-color: $neutral-light-gray-color;

$card-bg-badge: $neutral-darken-gray-color;
$card-color: $neutral-white-color;

//layout
$layout-bg: $neutral-white-color;
