@use '../styles/color.scss' as clr;

//notice
$notice-color-default: clr.$neutral-dark-color;
$notice-error-color: clr.$state-error-color;
$notice-success-color: clr.$state-success-color;
$notice-info-color: clr.$state-info-color;;
$notice-warning-color: clr.$state-warning-color;;
$notice-error-bg: clr.$state-error-bg;
$notice-success-bg: clr.$state-success-bg;
$notice-info-bg: clr.$state-info-bg;
$notice-warning-bg: clr.$state-warning-bg;