$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Nunino', sans;

$font-size-text-primary-desktop: 16px;
$font-size-text-primary-tablet: 14px;
$font-size-text-primary-mobile: 14px;


//headline

////desktop
$font-size-h1-desktop: 56px;
$line-height-h1-desktop: 61.6px;
$font-h1-desktop: bold #{$font-size-h1-desktop}/#{$line-height-h1-desktop} $font-family-primary;

$font-size-h2-desktop: 48px;
$line-height-h2-desktop: 57.6px;
$font-h2-desktop: bold #{$font-size-h2-desktop}/#{$line-height-h2-desktop} $font-family-primary;

$font-size-h3-desktop: 32px;
$line-height-h3-desktop: 38.4px;
$font-h3-desktop: bold #{$font-size-h3-desktop}/#{$line-height-h3-desktop} $font-family-primary;

$font-size-h4-desktop: 24px;
$line-height-h4-desktop: 28.8px;
$font-h4-desktop: bold #{$font-size-h4-desktop}/#{$line-height-h4-desktop} $font-family-primary;

$font-size-h5-desktop: 18px;
$line-height-h5-desktop: 21.6px;
$font-h5-desktop: bold #{$font-size-h5-desktop}/#{$line-height-h5-desktop} $font-family-primary;

////tablet
$font-size-h1-tablet: 48px;
$line-height-h1-tablet: 52.8px;
$font-h1-tablet: bold #{$font-size-h1-tablet}/#{$line-height-h1-tablet} $font-family-primary;

$font-size-h2-tablet: 32px;
$line-height-h2-tablet: 38.4px;
$font-h2-tablet: bold #{$font-size-h2-tablet}/#{$line-height-h2-tablet} $font-family-primary;

$font-size-h3-tablet: 24px;
$line-height-h3-tablet: 28.8px;
$font-h3-tablet: bold #{$font-size-h3-tablet}/#{$line-height-h3-tablet} $font-family-primary;

$font-size-h4-tablet: 18px;
$line-height-h4-tablet: 21.6px;
$font-h4-tablet: bold #{$font-size-h4-tablet}/#{$line-height-h4-tablet} $font-family-primary;

$font-size-h5-tablet: 16px;
$line-height-h5-tablet: 19.2px;
$font-h5-tablet: bold #{$font-size-h5-tablet}/#{$line-height-h5-tablet} $font-family-primary;


////mobile
$font-size-h1-mobile: 24px;
$line-height-h1-mobile: 28.8px;
$font-h1-mobile: bold #{$font-size-h1-mobile}/#{$line-height-h1-mobile} $font-family-primary;

$font-size-h2-mobile: 20px;
$line-height-h2-mobile: 24px;
$font-h2-mobile: bold #{$font-size-h2-mobile}/#{$line-height-h2-mobile} $font-family-primary;

$font-size-h3-mobile: 18px;
$line-height-h3-mobile: 21.6px;
$font-h3-mobile: bold #{$font-size-h3-mobile}/#{$line-height-h3-mobile} $font-family-primary;

$font-size-h4-mobile: 16px;
$line-height-h4-mobile: 19.2px;
$font-h4-mobile: bold #{$font-size-h4-mobile}/#{$line-height-h4-mobile} $font-family-primary;

$font-size-h5-mobile: 14px;
$line-height-h5-mobile: 16.8px;
$font-h5-mobile: bold #{$font-size-h5-mobile}/#{$line-height-h5-mobile} $font-family-primary;


//button/link
$font-size-button-large: 20px;
$font-size-button-medium: 16px;
$font-size-button-small: 14px;

$font-size-link-large: 20px;
$font-size-link-medium: 16px;
$font-size-link-small: 14px;

//Fields
$font-size-text-placeholder: 16px;
$font-size-text-title: 12px;
$font-size-text-description: 12px;

//Icons
$font-size-icon-normal: 24px;
$font-size-icon-xs: 16px;


//mixins
//TODO: media запросы
@mixin headline-1() {
  font: $font-h1-desktop;
}

@mixin headline-2() {
  font: $font-h2-desktop;
}

@mixin headline-3() {
  font: $font-h3-desktop;
}

@mixin headline-4() {
  font: $font-h4-desktop;
}

@mixin headline-5() {
  font: $font-h5-desktop;
}


